@font-face {
  font-family: mySecondFont;
  src: url(fonts/homespun.ttf);
}

video {
  width: 70%;
  height: auto;
}

.myDiv {
  display: block;
  background-color: black;    
  font-family: mySecondFont;
  margin: auto;
  width: 65%;
  padding: 20px;
  border: 3px solid;
  border-color: #34495E;
  position: relative;
  
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.myDiv h2 {
	font-size: 17px;
	text-align: center;

}


.centerImg2 {
  max-width: 100%;
  height: auto;

}

.myDiv p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
  animation-duration: 1s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.myDiv iframe{
	display:block;
	
	max-width: 100%;
	width: 480px;
	height: 360px;
}


